* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
}

.nav-items {
    display: flex;
    gap: 50px;
}

.nav-items li a {
    padding: 10px;
    border-radius: 4px;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color:#d40485;
    color: white;
}